<ngx-spinner></ngx-spinner>
<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
   
        <form class="login-form"  [formGroup]='LoginForm' (ngSubmit)='onSubmit()'   >
            <div class="text-center">
                <h2 class="app-name">OWN DICTIONARY</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Username" formControlName="Email">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Password" formControlName="Password">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary"  formControlName="isRemember">Remember Me</mat-checkbox>
                </div>
                <div fxFlex  fxLayoutAlign="end">
                    <a  [routerLink]="['/register']">New User</a>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100">LOGIN</button>
                </div>
            </div>

        </form>
    </div>
</div>